[submodule "webapp/frontend"]
	path = webapp/frontend
	url = https://github.com/Capstonebara/webapp_frontend.git
[submodule "webapp/backend"]
	path = webapp/backend
	url = https://github.com/Capstonebara/webapp_frontend.git
